body {
    text-align: center;
    font-family: sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("./Assets/Background.jpg");
    background-size: cover;
    filter: blur(5px) brightness(90%);
    box-shadow: inset 0 0 20px 20px black;
}

#board{
    /* background: url("./Assets/Background.jpg"); */
    background-color: black;
    border-top: 5px solid skyblue;
    border-right: 5px solid skyblue;
    border-left: 5px solid skyblue;
    box-shadow: inset 0 1px 10px 2px skyblue,
                0 0 10px 2px skyblue;
    filter: none;
}

label, #bgmVolume, button {
    font-size: 16px;
    margin: 10px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.6);
}

.volControl{
    margin-top: 15px;
    color: #d3d3d3;
}

.bgvol{
    box-shadow: none;
    font-weight: bold;
    font-size: 15px;
}

#bgmVolume {
    width: 200px;
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}

#bgmVolume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 13px;
    border-radius: 50px;
    background: #d45cd8;
    cursor: pointer;
    box-shadow: 0 0 10px #d45cd8,
                0 0 20px #d45cd8, 
                0 0 30px #d45cd8, 
                0 0 40px #d45cd8, 
                0 0 70px #d45cd8, 
                0 0 80px #d45cd8
}

#bgmVolume:focus::-webkit-slider-thumb {
    background: #bb4cbf;
    box-shadow: 0 0 10px #bb4cbf, 
                0 0 20px #bb4cbf, 
                0 0 30px #bb4cbf, 
                0 0 40px #bb4cbf, 
                0 0 70px #bb4cbf, 
                0 0 80px #bb4cbf
}

button {
    background-color: skyblue;
    color: rgb(51, 51, 51);
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: deepskyblue;
}
